@use "../../presets/" as *;
@use "../../mixins/" as *;

.about {
  background-color: #e5e5e5;
  padding: 100px 0 100px;
  letter-spacing: 0.055em;

  @include lg-md {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include md {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include sm {
    text-align: center;
  }

  &__container {
    @extend %container;
    display: grid;
    @include lg-min {
      grid-template-columns: 1fr 271px;
      gap: 100px;
    }

    @include lg-md {
      gap: $gap-x2;
      grid-template-columns: 1fr 271px;
    }

    @include md-sm {
      grid-template-columns: 1fr 236px;
      gap: $gap;
    }

    @include sm {
      grid-template-columns: 1fr;
      gap: $gap;
    }
  }

  &__content {
    @include lg-min {
      p {
        font-size: 18px;
      }
      p:first-of-type::after {
        right: -50px;
      }
    }

    @include lg-md {
      p:first-of-type::after {
        right: -20px;
      }
    }

    @include md-sm {
      p:first-of-type::after {
        right: -10px;
      }
    }

    @include sm {
      p:first-of-type::after {
        display: none;
      }
    }

    p:first-of-type {
      margin-top: -5px;
      position: relative;
    }

    p:first-of-type::after {
      position: absolute;
      top: 0;
      width: 2px;
      height: 200px;
      content: "";
      background-color: rgba(99, 117, 136, 0.1);
    }

    p:last-of-type {
      margin: 0;
    }
  }

  &__image {
    display: grid;
    align-items: center;
    justify-items: center;
  }
}
