@use "../../mixins/" as *;
@use "../../presets/" as *;

.footer {
  padding: 50px 20px 70px;
  text-align: center;
  background-color: $color-primary;

  &__container {
    @extend %container;
    // display: flex;
    // align-items: center;
    // flex-direction: column;
  }

  &__social {
    position: relative;
    display: grid;
    justify-content: center;
    margin-bottom: 40px;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));

    &::after {
      position: absolute;
      bottom: -20px;
      left: calc(50% - 37.5px);
      width: 75px;
      height: 2px;
      content: "";
      background-color: rgba(255, 255, 255, 0.1);
    }

    &-link {
      display: block;
      padding: 10px;
      transition: color 0.5s;
    }
  }

  &__icon {
    &-size {
      height: 35px;
      width: 35px;
    }
  }
}
