@use "../../mixins/" as *;
@use "../../presets/" as *;

.footer {
  background-color: $color-primary;
  height: 250px;

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &-link {
  }

  &__icon {
    position: relative;
    align-items: center;
    &::after {
      position: absolute;
      bottom: -20px;
      left: calc(50% - 37.5px);
      width: 75px;
      height: 2px;
      content: "";
      background-color: rgba(255, 255, 255, 0.1);
    }
    &-size {
      height: 35px;
      width: 35px;
    }
  }
}
