@use "../../mixins/" as *;
@use "../../presets/" as *;

.footer {
  padding: 50px 20px 70px;
  text-align: center;
  background-color: $color-primary;

  &__container {
    @extend %container;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__social {
    position: relative;
    // margin-bottom: 40px;

    &::after {
      position: absolute;
      bottom: -20px;
      left: calc(50% - 37.5px);
      width: 75px;
      height: 2px;
      content: "";
      background-color: rgba(255, 255, 255, 0.1);
    }

    &-link {
      position: relative;
      align-items: center;
    }
  }

  &__icon {
    &-size {
      height: 35px;
      width: 35px;
    }
  }

  &__signature {
    padding-top: 40px;
  }
}
