@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
}

a {
  text-decoration: none;

  color: $color-light;
}

h1 {
  font-family: $font-header;
  letter-spacing: 0.08em;

  font-weight: 300;
  line-height: 1.2em;

  @include lg-min {
    font-size: 60px;
  }

  @include lg-md {
    font-size: 40px;
  }

  @include md {
    font-size: 30px;
  }
}
h2 {
  font-size: 40px;
  font-family: $font-header;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  color: #2d3651;
  font-weight: 700;
  margin: 0;
  margin-bottom: 48px;
}

p {
  display: block;
  font-size: 18px;
  line-height: 1.15;
  color: #637588;
  font-weight: 400;
  font-family: $font-main;
}
